## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/
*.sln.iml

## NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
*.nuget.cache
*.dg
*.dgspec.json

## Paket dependency manager
.paket/
paket-files/

## ASP.NET / Entity Framework
appsettings.*.local.json
App_Data/

## Test results
[Tt]est[Rr]esult*/
*.TestResult.xml
*.trx

## Others
*.dbmdl
*.bak
*.log
*.dmp
*.tmp
*.temp
*.swp
*.swo

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## MacOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
