version: '3.4'

services:
  sqlserver-identity:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-identity
    environment:
      SA_PASSWORD: "@someThingComplicated1234"
      ACCEPT_EULA: "Y"
    ports:
      - "14330:1433"
    healthcheck:
      test: ["CMD-SHELL", "grep -q 'SQL Server is now ready for client connections' /var/opt/mssql/log/errorlog"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - eshop_shared

  identity:
    build:
      context: ./src/IdentityService
      dockerfile: Dockerfile
    container_name: identity
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__IdentityConnection=Server=sqlserver-identity,1433;Database=IdentityDb;User Id=sa;Password=@someThingComplicated1234;TrustServerCertificate=True;
    depends_on:
      sqlserver-identity:
        condition: service_healthy
    ports:
      - "5300:80"
    volumes:
      - dataprotection_keys:/root/.aspnet/DataProtection-Keys
    networks:
      - eshop_shared

  apigateway:
    build: ./src/ApiGateway
    container_name: apigateway
    ports:
      - "5050:8080"
    depends_on:
      - identity
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - dataprotection_keys:/root/.aspnet/DataProtection-Keys
    networks:
      - eshop_shared

networks:
  eshop_shared:
    external: true

volumes:
  sql_data:
  dataprotection_keys:
    external: true
